apiVersion: apps/v1
kind: Deployment
metadata:
  name: scheduler
spec:
  replicas: 1
  selector:
    matchLabels:
      app: scheduler
  template:
    metadata:
      labels:
        app: scheduler
    spec:
      containers:
        - name: scheduler
          image: calendar-scheduler:latest
          imagePullPolicy: IfNotPresent
          envFrom:
            - configMapRef:
                name: calendar-env  # используем тот же