go 1.23.11

use ./hw01_hello_otus
use ./hw02_unpack_string
use ./hw03_frequency_analysis
use ./hw04_lru_cache
use ./hw05_parallel_execution
use ./hw06_pipeline_execution
use ./hw07_file_copying
use ./hw08_envdir_tool
use ./hw09_struct_validator
